*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth; /* propiedad con la que se desplaza la pag hacia arriba*/
}
body{
    
    background-image: url(../Imagenes/fondo1.jpeg);
    background-size: cover;
    background-attachment: fixed;
    


}
.subir{
    height: 40px;
    width: 40px;
    
    border: 5px solid rgb(33, 33, 54);
    color: rgb(0, 0, 0);
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgba(255,255,255,.3);
}
/*aplicacion de grid al body*
/*comienzo del css para mobile first*/

.container{  /*lo primero es asignarle a nuestro contenedor la propiedad de display:grid;*/
    display: grid;
/*luego numero de columnas y filas que tendra nuestra grilla y un espacio de separacion*/
    /*border: 1px solid #000; */
    grid-template-columns: 100px auto 100px;
    grid-template-rows: repeat(13,100px);
    grid-gap: 1rem;
    margin-top: 15px;
/*definir como queremos que cada area sea acomodada en nuestro layout*/
    grid-template-areas: 
    "header header header"
    "header header header" 
    "nav nav nav"
    "main main main"
    "main main main"
    "main2 main2 main2"
    "main2 main2 main2"
    "main2 main2 main2"
    "main2 main2 main2"
    "main2 main2 main2"
    "main2 main2 main2"
    "main2 main2 main2"
    "footer footer footer";
    
}
/*definir el area que ocupara cada caja de nuestro contenedor, primero le asugnaremos un nombre y un color caracteristico*/
.box-1{
    height: 200px;
    grid-area: header;
    /*border: 2px solid #000;
    background-color: red; */
}
/*------.............---Inicio encabezado------------...-------*/

header .head{

    padding: 0;
    
}
header img{
    
    border-radius: 50%;
    margin-top: 20px;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1em;

    
}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    font-size:15px;
    font-family: 'Anek Odia', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'BIZ UDPMincho', serif;
    font-family: 'Grape Nuts', cursive;
    font-family: 'Quicksand', sans-serif;
    
}
.logo11{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inicio{
    font-size: 15px;
    color: #000;
    text-decoration: none;
    
    font-family: "Quicksand" , sans-serif;
    
    
}
.inicio:hover{
    color: rgb(129, 114, 94);
}

/*---------------------fin encabezado-------------------------------*/

.box-2{
    height: 50px;
    grid-area: nav;
    /*border: 2px solid #000;
    background-color: violet; */
}
/*-------------COMIENZO MENÚ------------------*/
.nav{
    width: 100%;
    /* background-color: aqua;
    border: 2px solid #000;*/
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav ul{
    width: 243px;
    background-color: rgb(176, 167, 129,0.5);
  /*  border: 2px solid black;*/
    font-family: 'Anek Odia', sans-serif;
    font-family: 'Babylonica', cursive;
    font-family: 'BIZ UDPMincho', serif;
    height: 2rem;
    
}
.nav > ul{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  /*  margin-left: 12px;*/
    margin-top: 20px;
    height: 2rem;
    /*width: 100%;*/
    list-style: none;
    line-height: 2rem;
    border-radius: 1em;
}

.nav ul ul{
    position: absolute;
    display: none; 
    list-style: none;
    line-height: 2rem;
    background-color: rgb(176, 167, 129,0.9);
    height: 128px;
}
.nav > ul > li{

    border-radius: 10px;
    font-size: 11px;
}
.nav ul li{
    
    font-size: 11px;
    padding-inline: 14px;
}
.nav  li  ul{
    width: 150px;
    text-align: left;
    border-radius: 1em;
    padding: 0;
    border-radius: 10px;
    
}
.nav li:hover{
    background-color: rgb(104, 122, 123,0.5);
    border-radius: 20px;
}
.nav li:hover ul{
    display: block;
    border-radius: 1em;
}
.nav a{
    text-decoration: none;
    color: #000;
    display: block;
}
/*--------------------FIN MENÚ----------------------*/
.box-3{
    height: 250px;
    grid-area: main;
    /*border: 2px solid #000;
    background-color: green;*/
}
/*--------------inicio main----------------------------*/

.section1{
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}
h2{
    
    margin: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 20px;
    font-family: "Quicksand" , sans-serif;
}

.image{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 160px;
    
}
.image:hover{
    transform: scale(1.1,1.1);
}
.general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 10px;
    font-size: 20px;
    border-radius: 1em;
    font-family: 'Dancing Script', cursive;
    font-family: 'Rubik', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    
}
.about-us{
    padding-top: 15px;
    font-size: 14px;
    text-align: center;
    font-family: "Quicksand" sans-serif;
}

.parrafo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 14px;
    margin: 1%;
    font-family: 'Dancing Script', cursive;
    font-family: 'Rubik', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    
}
/*-------------fin main---------------------*/
/*----------Inicio CONTENEDOR CONTACTO-------*/

.rectangulo{ /*rectangulo principal contenedor*/
    width: 100%;
    height: 400px;
    font-family: "Quicksand" , sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

} 
.logo{ /*titulo Contactanos de arriba*/
    font-family: "Quicksand" , sans-serif;
    margin-bottom: 5px;
    font-size: 30px;
    color: black;
    margin-top: 10px;
    padding-bottom: 10px;
    
}   
.contacto-todo{ /*contiene las 2 partes*/
    width: 180px;
    height: 800px;
    box-shadow: 0 0 20px 0 rgba(255,255,255,.3);
    border-radius: 1em;
    list-style: none;
    
}
.situs{ /*descripcion de los input*/
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family: "Quicksand" , sans-serif;
    padding-top: 10px;
}
    
.sit{ /*inpus*/
    width: 80%;

    border: none;
    background: none;
    outline: none;
    color:#000;
    border-bottom: 1px solid black;
    padding-top: 20px;
}/*bien*/
.contacto-form{ /*solo el formulario*/
   /* border: 2px solid #000;*/
    background:  rgb(176, 167, 129,0.5);
    border-radius: 1em;
    
}
.contacto-form form button{
    background: rgb(176, 167, 129,0.8);
    text-transform: uppercase;
    border: 0;
    padding: 1em;
    margin-top: 15px;
    border-radius: 1em;
}

.contacto-form > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-----------Fin contacto-----------*/
/*------inicio footer version contacto------------*/
.con-fot{
    margin-top: 300px;
    
}
/*------fin footer version contacto------------*/

    
    
    
/*------------Fin CONTENEDOR CONTACTO---------------*/

/*------------COMIENZO DE INICIAR SESION/REGISTRO--------------*/
.formulario{
    width: 100%;
    
    padding: 3px;
    font-family: 'Anek Odia', sans-serif;
    font-family: 'BIZ UDPMincho', serif;
    font-family: 'Noto Serif', serif;
    
}
.caja{
    width: 100%;
    
}
form > h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-family: Quicksand , sans-serif;
}
.input{
    font-size: 15px;
    width: 95%;
    padding: 5px;
    border: none;
    border-radius: 1em;
}
.input-caja{
    margin-bottom: 15px;
    /*border: 1px solid #aaa;*/
}
.icon{
    padding-bottom: 10px;
    min-width: 50px;
    text-align: center;
    color: rgb(0,0,0,0.5);
}
.button{
    
    align-items: center;
    border:none;
    width: 100%;
    color:white;
    font-size: 20px;
    background: rgb(176, 167, 129,0.8);
    padding: 5px 5px;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover{
    background: cadetblue;
}
.sit{
    width: 100%;
    
    border: none;
    background: none;
    outline: none;
    color:#000;
    border-bottom: 1px solid black;
    padding-top: 20px;
}/*bien*/
p{
    font-size: 13px;
    text-align: center;
    font-family: 'Akshar', sans-serif;
    font-family: 'Anek Odia', sans-serif;
    font-family: 'BIZ UDPMincho', serif;
    font-family: 'Raleway', sans-serif;
    
}
.link{
    text-decoration: none;
    color: rgb(0, 0, 0,0.6);
    font-weight: 600;
}
.link:hover{
    color: rgba(255,255,255,.4);
}
/*---------------- fin iniciar sesion/ registro-------------------------*/
/*--------------inicio cumplido----------------*/
.cumplido{
   /* border: 2px solid red; */
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.cumpli{
    font-size: 24px;
    font-family: 'Ms Madi', cursive;
}
.tit-quien{
    text-align: center;
}
/*----------------fin cumplido------------------*/
.box-4{
    height: 800px;
    grid-area: main2;
    /*border: 2px solid #000;
    background-color: yellow; */

} 

/*---------Inicio main2------------------*/

.section2{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;  
} 
.tex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    padding: 15px;
    padding-bottom: 30px;
    font-family: 'Anek Odia', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'BIZ UDPMincho', serif;
    font-family: 'Quicksand', sans-serif;
}
.home{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 25px;
}
.import{
    width: 50px;
    height: 100%;
    font-size: 30px;
}
    
    
.video{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    
}
/*------------Inicio CONTENEDOR PRODUCTO---------------*/
.contenedor{
    width: 100%;
    height: 1490px;
  /*  border: 2px solid red;*/
    color:black;
    display: flex;
    flex-flow: column wrap;
    flex-wrap: wrap;

    
}

.contenedor div{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
   /* border: 2px solid #000;*/
    width: 100%;
    height: 225px;
    margin-bottom: 20px;
}

h1{
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: "Quicksand" , sans-serif;
}
.tit{
    text-align: center;
}
.pad{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.trans:hover{
    transform: scale(1.2,1.2);
}

.redes{
    display: flex;
    justify-content: center;
    font-size: 40px;
    letter-spacing: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.redes a{
    color:#000;
}
/*------------Fin CONTENEDOR PRODUCTO--------------*/
/*------------INICIO BLOQUE INFO CONTACTO---------------*/
.contacto-info{ /*solo descripcion bot*/
    list-style: none;
    font-family: "Quicksand" , sans-serif;
    text-align: center;
   /* border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 120px;
    border-radius: 1em;
    color: #000;
    margin-top: 300px;
}

h4{
    width: 100%;
    font-size: 25px;
    text-align: center;
    /*margin-left: -35px;*/
    margin-bottom: 20px;
}
.contacto-info > ul{
    list-style: none;
    width: 100%;
}
.contact-form ul li > span{
    padding-left: 20px;
}



/*--------------FIN BLOQUE INFO CONTACTO--------------*/

/*!!!!!!!!!!!!!!!.contacto-info{
    list-style: none;
    font-family: "Quicksand" , sans-serif;
    text-align: center;
    width: 100%;
    height: 100px;
    border-radius: 1em;
    color: #000;
}!!!!!!!!!!!!!!!!!!!!!!!!*/
/*---!!!!!!!!!!!!!!!!!!!!.contacto-info > ul{
    list-style: none;
}
.contact-form ul li > span{
    padding-left: 20px;
}----!!!!!!!!!!!!!!!!!!!!!!!-------*/
/*------fin main2-----------*/
/*------inicio footer----------*/

.box-5{
    grid-area: footer;
    /*border: 2px solid #000;
    background-color: lightgray; */
    font-size: 10px;
}
.quienes-fot{
    margin-top: 150px;
}
.con-fot{
    margin-top: 7500px;
}
footer{
    padding: 7px;
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-family: 'Akshar', sans-serif;
    font-family: 'Anek Odia', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'BIZ UDPMincho', serif;
    
    }
    .redes{
        display: flex;
        justify-content: center;
        font-size: 30px;
        letter-spacing: 15px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .redes a{
        color:#000;
    }
    
/*------inicio footer-quienes somos----------*/


/*------fin footer-quienes somos-------------*/

/*Fin del css para mobile first*/

/*comienzo del css para TABLET*/

/*Para la version tablet lo primero que hacemos es cambiar la disposicion de las columnas de nuestro Grid*/

@media only screen and (min-width:768px){
.container{
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(14,100px);
    
    
}
/*Luego cambiar la disposicion de los items, esta vez usando el recurso de grid-row y grid-column , que es el metodo corto de grid-row-start/end grid-column-start/end*/
.box-1{
    margin-bottom: 20px;
   /* background-color: red;*/
    grid-row:1/3;
    grid-column: 1/5;
}
.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size:20px;
    font-family: 'Anek Odia', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'BIZ UDPMincho', serif;
    font-family: 'Grape Nuts', cursive;
    font-family: 'Quicksand', sans-serif;
    
}
.box-2{
   /* background-color: violet; */
    grid-row:3/4;
    grid-column: 1/5;
}
/*-------------COMIENZO MENÚ------------------*/
.nav{
    width: 100%;
    /* background-color: aqua;
    border: 2px solid #000;*/
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav ul{
    width: 290px;
    background-color: rgb(176, 167, 129,0.5);
    /*border: 2px solid black;*/
    font-family: 'Anek Odia', sans-serif;
    font-family: 'Babylonica', cursive;
    font-family: 'BIZ UDPMincho', serif;
    height: 2rem;
    
}
.nav > ul{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  /*  margin-left: 12px;*/
    margin-top: 20px;
    height: 2rem;
    /*width: 100%;*/
    list-style: none;
    line-height: 2rem;
    border-radius: 1em;
}

.nav ul ul{
    position: absolute;
    display: none; 
    list-style: none;
    line-height: 2rem;
    background-color: rgb(176, 167, 129,0.9);
    height: 128px;
}
.nav > ul > li{

    border-radius: 10px;
    font-size: 11px;
}
.nav ul li{
    
    font-size: 15px;
    padding-inline: 14px;
}
.nav  li  ul{
    width: 150px;
    text-align: left;
    border-radius: 1em;
    padding: 0;
    border-radius: 10px;
    
}
.nav li:hover{
    background-color: rgb(104, 122, 123,0.5);
    border-radius: 20px;
}
.nav li:hover ul{
    display: block;
    border-radius: 1em;
}
.nav a{
    text-decoration: none;
    color: #000;
    display: block;
}
/*--------------------FIN MENÚ----------------------*/
.box-3{
  /* background-color: green; */
    grid-row:4/6;
    grid-column: 1/5;
}
/*----------inicio main----------------------*/
.general{
    

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 10px;
    font-size: 20px;
    border-radius: 1em;
    font-family: 'Dancing Script', cursive;
    font-family: 'Rubik', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
.section1{
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}
h2{
    margin-top: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 10px;
    font-family: "Quicksand" , sans-serif;
}

.image{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 160px;
    margin-top: 25px;
}
.image:hover{
    transform: scale(1.1,1.1);
}

.about-us{
    padding-top: 15px;
    font-size: 20px;
    text-align: center;
}

.parrafo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 20px;
    margin: 1%;
    font-family: 'Dancing Script', cursive;
    font-family: 'Rubik', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
/*------------COMIENZO DE INICIAR SESION/REGISTRO--------------*/
.formulario{
    width: 100%;
   /* border: 2px solid #000; */
    padding: 3px;
    font-family: 'Anek Odia', sans-serif;
    font-family: 'BIZ UDPMincho', serif;
    font-family: 'Noto Serif', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caja{
    width: 450px;
   /* border: 2px solid #000;*/
    
    
}

form > h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}


.input{
    font-size: 15px;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 1em;
}
.input-caja{
    margin-bottom: 15px;
    /*border: 1px solid #aaa;*/
}
.icon{
    padding-bottom: 10px;
    min-width: 50px;
    text-align: center;
    color: rgb(0,0,0,0.5);
}
.button{
    
    align-items: center;
    border:none;
    width: 100%;
    color:white;
    font-size: 20px;
    background: rgb(176, 167, 129,0.8);
    padding: 5px 5px;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
p{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    text-align: center;
    font-family: 'Akshar', sans-serif;
    font-family: 'Anek Odia', sans-serif;
    font-family: 'BIZ UDPMincho', serif;
    font-family: 'Raleway', sans-serif;
    
}
.link{
    text-decoration: none;
    color: rgb(0, 0, 0,0.6);
    font-weight: 600;
}
.link:hover{
    color: rgba(255,255,255,.4);
}
/*---------------fin producto---------------*/
/*--------------inicio cumplido----------------*/
.cumplido{
   /* border: 2px solid red;*/
    /*width: 70%;*/
    margin-top: 20px;
    /*margin-left: 5%;*/
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.cumpli{
    
    font-size: 35px;
    font-family: 'Ms Madi', cursive;
}
/*----------------fin cumplido------------------*/
/*----------Inicio CONTENEDOR CONTACTO-------*/
.con-{
    height: 100px;
    margin-top: 20px;
    /*background-color: green;*/
    grid-row:4/9;
    grid-column: 1/5;
}
.rectangulo{
    width: 100%;
    height: 500px;
    font-family: "Quicksand" , sans-serif;
    
    
}
.logo{ /*titulo Contactanos de arriba*/
    font-family: "Quicksand" , sans-serif;
    margin-bottom: 5px;
    font-size: 30px;
    color: black;
    margin-top: 10px;
    padding-bottom: 10px;

}  

.contacto-todo{
    width: 300px;
    height: 500px;
    box-shadow: 0 0 20px 0 rgba(255,255,255,.5);
    border-radius: 1em;
    
    
    
    
}/*bien*/
.situs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sit{
    width: 100%;
    
    border: none;
    background: none;
    outline: none;
    color:#000;
    border-bottom: 1px solid black;
    padding-top: 20px;
}/*bien*/
.contacto-form{
    background:  rgb(176, 167, 129,0.5);
    
    border-radius: 1em;
    
}
.contacto-form form button{
    background: rgb(176, 167, 129,0.8);
    text-transform: uppercase;
    border: 0;
    padding: 1em;
    margin-top: 15px;
    border-radius: 1em;
}
.contact-form form{
    height: 50px;
    margin:0;
    
}
.contact-form > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacto-info{
    text-align: left;
    width: 100%;
    height: 200px;
    border-radius: 1em;
    color: #000;
    /*border: 2px solid red;*/
    margin-top: -10px;
}
.contacto-info > ul{
    list-style: none;
    width: 70%;
}
.contact-form ul li > span{
    padding-left: 20px;
    
}


/*-----------Fin contacto-----------*/

/*---------------fin main-------------*/
.box-4{
    
    height: 400px;
    margin-top: 20px;
  /*  background-color: yellow;*/
    grid-row:6/13;
    grid-column: 1/5;
}

/*---------Inicio main2------------------*/
/*------------INICIO BLOQUE INFO CONTACTO---------------*/
.con2-{
    height: 100px;
    margin-top: 20px;
    /*background-color: yellow;*/
    grid-row:9/10;
    grid-column: 1/5;
}
.contacto-info{ /*solo descripcion bot*/
    list-style: none;
    font-family: "Quicksand" , sans-serif;
    text-align: center;
   /* border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 120px;
    border-radius: 1em;
    color: #000;
    
}

h4{
    width: 100%;
    font-size: 25px;
    text-align: center;
    /*margin-left: -35px;*/
    margin-bottom: 20px;
}
.contacto-info > ul{
    list-style: none;
    width: 100%;
}
.contact-form ul li > span{
    padding-left: 20px;
}

.con-{
    height: 500px;
    
}

/*--------------FIN BLOQUE INFO CONTACTO--------------*/
.section2{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
} 
.tex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    padding: 15px;
    padding-bottom: 30px;
    font-family: 'Anek Odia', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'BIZ UDPMincho', serif;
    font-family: 'Quicksand', sans-serif;
}
.home{
    margin-top: -20px;
    margin-left: 10px;
    margin-bottom: 25px;
}
.import{
    width: 50px;
    height: 100%;
    font-size: 30px;
}
    
    
.video{
    height: 450px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    
}
/*-----------fin main2-----------*/
/*------------Inicio CONTENEDOR PRODUCTO---------------*/
.contenedor{
    width: 50%;
    height: 1000px;
    color:black;
    display: flex;
    flex-flow: column wrap;
    flex-wrap: wrap;
    margin: 10px;
}

.contenedor div{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
/* border: 2px solid #000;*/
    width: 100%;
    height: 225px;
    margin-bottom: 100px;
}

h1{
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: "Quicksand" , sans-serif;
}
.pad{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trans:hover{
    transform: scale(1.2,1.2);
}

.redes{
    display: flex;
    justify-content: center;
    font-size: 40px;
    letter-spacing: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.redes a{
    color:#000;
}
/*------------Fin CONTENEDOR PRODUCTO--------------*/
/*------fin main2-----------*/
.box-5{
    height: 100px;
   /* background-color: aquamarine;*/
    grid-row:13/15;
    grid-column: 1/5;
    font-size: 20px;
    margin-top: 50px;
    
}
.con-fot{
    margin-top: 5050px;
}
}
/*fin del css para TABLET*/

/*comienzo del css para Escritorio*/
/*Cambiamos la disposicion de la grilla*/


@media only screen and (min-width: 1024px){
.container{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(12,150px);
}
.box-1{
    grid-row:1/3;
    grid-column: 1/5;
}
.head{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    line-height: 1em;
    margin-right: 15px;
    
}
.inicio{
    margin-top: 10px;
}
.image{
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    /*height: 160px;*/
    margin-top: 55px;
    margin-left: 12px;
}


.box-2{
    grid-row: 3/4;
    grid-column: 1/5;
}
.nav{
    
    display: flex;
    justify-content: center;
}
/*-------------COMIENZO MENÚ------------------*/
.nav{
    width: 100%;
    /* background-color: aqua;
    border: 2px solid #000;*/
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav ul{
    width: 290px;
    background-color: rgb(176, 167, 129,0.5);
    /*border: 2px solid black;*/
    font-family: 'Anek Odia', sans-serif;
    font-family: 'Babylonica', cursive;
    font-family: 'BIZ UDPMincho', serif;
    height: 2rem;
    
}
.nav > ul{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  /*  margin-left: 12px;*/
    margin-top: 20px;
    height: 2rem;
    /*width: 100%;*/
    list-style: none;
    line-height: 2rem;
    border-radius: 1em;
}

.nav ul ul{
    position: absolute;
    display: none; 
    list-style: none;
    line-height: 2rem;
    background-color: rgb(176, 167, 129,0.9);
    height: 129px;
    width: 150px;
}
.nav > ul > li{

    border-radius: 10px;
    font-size: 11px;
}
.nav ul li{
    
    font-size: 15px;
    padding-inline: 14px;
}
.nav  li  ul{
    width: 150px;
    text-align: left;
    border-radius: 1em;
    padding: 0;
    border-radius: 10px;
    
}
.nav li:hover{
    background-color: rgb(104, 122, 123,0.5);
    border-radius: 20px;
}
.nav li:hover ul{
    display: block;
    border-radius: 1em;
}
.nav a{
    text-decoration: none;
    color: #000;
    display: block;
}
/*--------------------FIN MENÚ----------------------*/
.box-3{
    /* background-color: green; */
      grid-row:4/6;
      grid-column: 1/5;
  }
  /*----------inicio main----------------------*/
  .general{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      padding: 10px;
      font-size: 20px;
      border-radius: 1em;
      font-family: 'Dancing Script', cursive;
      font-family: 'Rubik', sans-serif;
      font-family: 'Source Sans Pro', sans-serif;
  }
  .section1{
      margin-top: 10px;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      
      
  }
  h2{
      margin-top: 50px;
      margin: 10px;
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
      margin-top: 10px;
      font-family: "Quicksand" , sans-serif;
  }
  
  .image{
  
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 160px;
      margin-top: 25px;
  }
  .image:hover{
      transform: scale(1.1,1.1);
  }
  
  .about-us{
      padding-top: 15px;
      font-size: 20px;
      text-align: center;
  }
  
  .parrafo{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: left;
      font-size: 20px;
      margin: 1%;
      font-family: 'Dancing Script', cursive;
      font-family: 'Rubik', sans-serif;
      font-family: 'Source Sans Pro', sans-serif;
  }
  /*------------COMIENZO DE INICIAR SESION/REGISTRO--------------*/
  .formulario{
      width: 100%;
     /* border: 2px solid #000; */
      padding: 3px;
      font-family: 'Anek Odia', sans-serif;
      font-family: 'BIZ UDPMincho', serif;
      font-family: 'Noto Serif', serif;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .caja{
      width: 450px;
     /* border: 2px solid #000;*/
      
      
  }
  
  form > h2{
      margin-bottom: 20px;
      text-align: center;
      font-size: 30px;
  }
  
  
  .input{
      font-size: 15px;
      width: 100%;
      padding: 15px;
      border: none;
      border-radius: 1em;
  }
  .input-caja{
      margin-bottom: 15px;
      /*border: 1px solid #aaa;*/
  }
  .icon{
      padding-bottom: 10px;
      min-width: 50px;
      text-align: center;
      color: rgb(0,0,0,0.5);
  }
  .button{
      
      align-items: center;
      border:none;
      width: 100%;
      color:white;
      font-size: 20px;
      background: rgb(176, 167, 129,0.8);
      padding: 5px 5px;
      border-radius: 10px;
      cursor: pointer;
  }
  .button:hover{
      background: cadetblue;
  }
  p{
      padding-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 13px;
      text-align: center;
      font-family: 'Akshar', sans-serif;
      font-family: 'Anek Odia', sans-serif;
      font-family: 'BIZ UDPMincho', serif;
      font-family: 'Raleway', sans-serif;
      
  }
  .link{
      text-decoration: none;
      color: rgb(0, 0, 0,0.6);
      font-weight: 600;
  }
  .link:hover{
      color: rgba(255,255,255,.4);
  }
  /*---------------fin producto---------------*/
  /*--------------inicio cumplido----------------*/
  .cumplido{
     /* border: 2px solid red;*/
      /*width: 70%;*/
      margin-top: -60px;
      /*margin-left: 5%;*/
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
  }
  .cumpli{
      
      font-size: 35px;
      font-family: 'Ms Madi', cursive;
  }
  /*----------------fin cumplido------------------*/
  /*----------Inicio CONTENEDOR CONTACTO-------*/
  .con-{
      height: 100px;
      margin-top: 20px;
      /*background-color: green;*/
      grid-row:4/9;
      grid-column: 1/5;
  }
  .rectangulo{
      width: 100%;
      height: 500px;
      font-family: "Quicksand" , sans-serif;
      
      
  }
  .logo{ /*titulo Contactanos de arriba*/
      font-family: "Quicksand" , sans-serif;
      margin-bottom: 5px;
      font-size: 30px;
      color: black;
      margin-top: 10px;
      padding-bottom: 10px;
  
  }  
  
  .contacto-todo{
      width: 300px;
      height: 500px;
      box-shadow: 0 0 20px 0 rgba(255,255,255,.5);
      border-radius: 1em;
      
      
      
      
  }/*bien*/
  .situs{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .sit{
      width: 100%;
      
      border: none;
      background: none;
      outline: none;
      color:#000;
      border-bottom: 1px solid black;
      padding-top: 20px;
  }/*bien*/
  .contacto-form{
      background:  rgb(176, 167, 129,0.5);
      
      border-radius: 1em;
      
  }
  .contacto-form form button{
      background: rgb(176, 167, 129,0.8);
      text-transform: uppercase;
      border: 0;
      padding: 1em;
      margin-top: 15px;
      border-radius: 1em;
  }
  .contact-form form{
      height: 50px;
      margin:0;
      
  }
  .contact-form > form{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .contacto-info{
      text-align: left;
      width: 100%;
      height: 200px;
      border-radius: 1em;
      color: #000;
      /*border: 2px solid red;*/
      margin-top: -10px;
  }
  .contacto-info > ul{
      list-style: none;
      width: 70%;
  }
  .contact-form ul li > span{
      padding-left: 20px;
      
  }
  
  
  /*-----------Fin contacto-----------*/
  
  /*---------------fin main-------------*/
.box-4{
    
    height: 400px;
    margin-top: 20px;
  /*  background-color: yellow;*/
    grid-row:6/13;
    grid-column: 1/5;
}

/*---------Inicio main2------------------*/
/*------------INICIO BLOQUE INFO CONTACTO---------------*/
.con2-{
    height: 100px;
    margin-top: 20px;
    /*background-color: yellow;*/
    grid-row:8/10;
    grid-column: 1/5;
    
}
.contacto-info{ /*solo descripcion bot*/
    list-style: none;
    font-family: "Quicksand" , sans-serif;
    text-align: center;
   /* border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 120px;
    border-radius: 1em;
    color: #000;
    
}

h4{
    width: 100%;
    font-size: 25px;
    text-align: center;
    /*margin-left: -35px;*/
    margin-bottom: 20px;
}
.contacto-info > ul{
    list-style: none;
    width: 100%;
}
.contact-form ul li > span{
    padding-left: 20px;
}

.con-{
    height: 500px;
    
}

/*--------------FIN BLOQUE INFO CONTACTO--------------*/
.section2{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
} 
.tex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    padding: 15px;
    padding-bottom: 30px;
    font-family: 'Anek Odia', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'BIZ UDPMincho', serif;
    font-family: 'Quicksand', sans-serif;
}
.home{
    margin-top: -20px;
    margin-left: 10px;
    margin-bottom: 25px;
}
.import{
    width: 50px;
    height: 100%;
    font-size: 30px;
}
    
    
.video{
    height: 450px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    
}
/*-----------fin main2-----------*/
/*------------Inicio CONTENEDOR PRODUCTO---------------*/
.contenedor{
    
    width: 32%;
    height: 679px;
    color:black;
    display: flex;
    flex-flow: column wrap;
    flex-wrap: wrap;
    margin: 10px;
}
.main2producto{
    margin-top: -250px;
}
.contenedor div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
/* border: 2px solid #000;*/
    width: 100%;
    height: 225px;
    margin-bottom: 100px;
}

h1{
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: "Quicksand" , sans-serif;
}
.pad{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trans:hover{
    transform: scale(1.2,1.2);
}

.redes{
    display: flex;
    justify-content: center;
    font-size: 40px;
    letter-spacing: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.redes a{
    color:#000;
}
/*------------Fin CONTENEDOR PRODUCTO--------------*/
/*------fin main2-----------*/

.box-5{
    height: 100px;
   /* background-color: aquamarine;*/
    grid-row:13/15;
    grid-column: 1/5;
    font-size: 20px;
    margin-top: 50px;
    
}

.fot-con{
    margin-top: -500px;
}

.con-fot{
    margin-top: 3000px;
}
}
/*---fin del css para Escritorio*/


